@import "libs/bootstrap-grid.min";
@import "libs/bootstrap-reboot.min";
@import "libs/slick";
@import "libs/animate";







@import "base/variables";
@import "base/animation";

* {
    font-family: 'MuseoModerno', cursive;
}

.container {
    max-width: 950px;
    margin: 0 auto;
} 

@media (max-width: 992px) {
    .container {
        max-width: 850px;
        margin: 0 auto;
    } 
}

@media (max-width: 768px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    } 
}

@media (max-width: 576px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    } 
}



@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
